.Token {
  text-align: center;
}

.Token-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .Token-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.Token {
  height: 100vh;
  max-height: 100%;
  width: calc(100vw - 300px);
  overflow: hidden auto;
  padding-left: 20px;
  padding-right: 20px;
}

.Token__status {
  margin-top: 40px;
}

.Token__title {
  margin-top: 0;
  margin-bottom: 4px;
}
